body {
  color:white;
}
.block {
  border: 5px solid #525252;
  margin: 1em;
  margin-bottom: 3em;
  padding: 1em;
  background-color: #323242;
}
.title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
}
.block .title {
 font-size: 1.5em;
 font-weight: bold;
 color: white;
}

.desc {
  display: block;
  margin-top: 1em;
  color: white;
}

.question {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

.statement {
  font-size: 1.5em;
  line-height: 2em;
}
pre {
    font-size: larger;
    color: white;
}
h1 {
    color: white;
}

pre code {
  margin-bottom: 3em !important;
}
