
body, html {
    margin: 0 0;
    width: 100%;
    background-color:#343a40;
}

.title{
  text-align: center;
  color: white;
}

.description {
  text-align: center;
  font-style: italic;
  color: white;
}