body, html {
    margin: 0 0;
    width: 100%;
    height: 100%;
    background-color:#424242;
}
.side-bar{
  font-style: italic;
  color: white;
  float: left;

  background-color: #323232;
  width: 10em;
  height: 100%;
}
.content{
  font-size:large;
  font-style: italic;
  color: white;
  margin-left: 10em;
  padding: 10px 10px 90px 0;
  text-align: center;
  overflow-y: scroll;
  height: 79%;
}

.hide {
    display: none;
}

.actions {
  all:unset;
  color: white;
  -webkit-text-fill-color: white;
  cursor: pointer;
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid blueviolet;
  box-sizing: border-box;
}
.actions:focus{
  background-color: blueviolet;
}
.tab {
  height: 100%;
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
}
.card{
  border: 3px solid blueviolet;
  background-color: #fff;
  color: #000;
  padding: 2em;
  margin:0 auto;
  margin-top: 1em;
  width: 40%;
  cursor: pointer;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card:hover {
    box-shadow: 5px -5px blueviolet, -5px 5px blueviolet;
}

.card.flip {
  transform: rotateY(180deg);
}

.card-title{
  font-size: large;
}

.card-front,
.card-back {
  backface-visibility: hidden;
}
.card-front {
  z-index: 2;
  transform: rotateY(0deg);
}
.card-back {
  transform: rotateY(180deg);
  text-align: left !important;
  font-size: small !important;
}
.badge {
  color: white;
  font-size: small !important;
  font-style: normal !important;
  border-radius: 5px;
  margin: 2px;
  padding: 2px 10px;
  display: inline-block;
}
.badge.red {
  background-color: rgb(184, 0, 0);
}
.badge.yellow {
  background-color: rgb(206, 206, 0);
}
.badge.pink {
  background-color: rgb(182, 13, 131);
}
.badge.green {
  background-color: rgb(3, 145, 3);
}
.badge.white {
  background-color: white;
  color: black;
}
.badge.orange {
  background-color: orangered;
}
.badge.black {
  background-color: black;
}
.badge.gold {
  background-color: gold;
}
.badge.lawngreen {
  background-color: rgb(84, 168, 0);
}
.badge.blue {
  background-color: rgb(36, 36, 253);
}
.badge.gray {
  background-color: rgb(104, 104, 110);
}
.badge-icon{
  margin-top: 2px;
  margin-right: 4px;
}

.msg-wrapper {
    position: fixed;
    transform: rotate(10deg) translate(61%, -130px);
    top: 295px;
    left: calc(100% - 450px);
    width: 200px;
}

.msg {
  position: fixed;
  border: 1px solid white;
  height: 200px;
  padding: 1em;
  font-size: x-small !important;
  box-shadow: 0 4px 5px 0 #fff, 0 6px 10px 0 whitesmoke;
}
.image {
  position: fixed;
  top: 85px;
  left: calc(100% - 170px);
  width: 149px;
  background-color: rgba(116, 106, 106, 0);
}
.skills-text{
  line-height: 30px;
  font-size: medium;
  text-align: left;
}
.box{
  display: inline-flex;
  margin: 10px;
  width: 250px;
  flex-direction: column;
}
.book{
 float: left;
}
.book-content {
  position: fixed;
  top: 10px;
  padding: 10px;
  font-size: small !important;
  color: black !important;
  transform: rotate(353deg);
  height: 210px;
  width: 170px;
  text-align: left !important;
}
.project-tile {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  padding: 1em;
  border: 2px solid rgb(100, 78, 121);
  margin-bottom: 1em;
}
.project-header {
  display: flex;
  justify-content: space-between;
}
.project-desc {
  color: antiquewhite;
  text-align: left;
  font-style: italic;
  font-size: medium;
}
.project-tags{
  text-align: left;
}
.center-tab{
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
