
body, html {
    margin: 0 0;
    height: 100%;
    width: 100%;
    background-color: #343a40 !important;
  }

.contact-pane {
    width: 100%;
    padding-top: 50px;
}

.contact {
    display: block;
    padding: 30px 20px;
    font-size: 20px;
}

.icon {
    position: absolute;
    text-align: center;
    left: 30px;
    height: 2em;
}

.icon a {
    color: #eeeeee;
    padding: 10px;
    transition: all .5s ease;
}

.icon a:hover {
    color: white;
}

.icon a img {
    height: 2em;
}

.info {
    margin-left: 5em;
    display: inline-block;
    font-style: italic;
}
.bg-dark {
    background-color: #343a40 !important;
}

.bg-secondary {
    background-color: #6c757d !important;
}

.text-white {
    color: #fff !important;
}

.text-danger {
    color: #dc3545 !important;
}

.text-warning {
    color: #ffc107 !important;
}

.text-center {
    text-align: center !important;
}