html {
    margin: 0 0;
    width: 100%;
    height: 100%;
}

.pdf-content {
    text-align:center;
}

.pdf-content canvas {
    display:inline-block;
    margin: 0 auto;
}
body {
    background-color: #323232;
    width: 100%;
    height: 100%;
}
  
.content {
    margin: 0 0;
    padding: 0 0;
    background-color: #323232;
    width: 100%;
    height: calc(100vh - 0.2em);
}
  