html {
    margin: 0 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #323232;
    width: 100%;
    height: 100%;
}
  
.content {
    margin: 0 0;
    padding: 0 0;
    background-color: #323232;
    width: 100%;
    height: calc(100vh - 0.2em);
}
  