html {
  margin: 0 0;
}

body {
  background-color: #323232;
}

.address-bar {
    width: 100%;
    color: white;
    background-color: #424242;
    border-color: #323232;
    border-left: 0;
    border-right:0;
    margin: 0 0;
}

.navigation {
  background-color: #222222;
  margin: 0 0;
}

.content {
  background-color: #323232;
}
