html {
  margin: 0 0;
}

body {
  background-color: #424242;
}

.navigation {
  display: flex;
  background-color: #424242;
  margin: 0 0;
}

.hide {
  display: none !important;
}

.back-btn {
  -moz-user-select: none;
  -webkit-user-select: none;
  width: 1.5em;
  height: 1.5em;
  overflow: hidden;
  text-align: center;
  font-size: x-large;
  color: white;
  background-color: transparent;
  border:0;
  margin: 0 0;
  border: none;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #525252;
}

.address-bar {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 2.5em;
    color: white;
    background-color: #525252;
    border: none;
    margin: 0 0;
}

.desktop {
  margin-left: 2em;
  margin-top: 2em;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.folder {
  -moz-user-select: none;
  -webkit-user-select: none;
  display: block;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 1em;
  width: min-content;
}

.folder:hover {
  background-color: #525252;
}

.directory {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(/icons/folder.svg);
  background-size: contain;
}

.file {
  display: inline-block;
  width: 55px;
  height: 55px;
  background-image: url(/icons/file.svg);
  background-size: contain;
}

.image {
  width: 55px;
  height: 55px;
}

.card {
  display: inline-flexbox;
  margin: 2em;
  width: 40%;
  height: 15em;
  cursor: pointer;
  background-color: #323232;
  padding-bottom: 4em;
  box-shadow:0 0 5px 2px gray;
}

.link {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.link div {
  position: relative;
  width: 100%;  
  height: 80%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.link span {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: x-large;
}

.application {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(/icons/terminal.svg);
  background-size: contain;
  box-shadow:0 0 5px 2px gray;
}

.icon-label {
  display: block;
  width: min-content;
  color: white;
}
