html {
  background-color: #323232;
}
a {
  color: green;
}
body {
  color:white;
  background-color: #323232;
}
.block {
  border: 5px solid #525252;
  margin: 1em;
  margin-bottom: 3em;
  padding: 1em;
  background-color: #323242;
}

.background-primary {
  background-color: #323242 !important;
}

.background-secondary {
  background-color: #222222 !important;
}

.background-light {
  background-color: whitesmoke !important;
}

.background-dark {
  background-color: #323232 !important;
}

.background-black {
  background-color: black !important;
}

.title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
}
.block .title {
 font-size: 1.5em;
 font-weight: bold;
 color: white;
}

.desc {
  display: block;
  margin-top: 1em;
  color: white;
}

.question {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

.statement {
  font-size: 1.5em;
  line-height: 2em;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
pre {
    font-size: larger;
    color: white;
}
h1 {
    color: white;
}

pre code {
  margin-bottom: 3em !important;
}
